<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let noticia of noticias">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              {{noticia.source.name}}
            </ion-card-subtitle>
            <ion-card-title>
              {{noticia.title}}
            </ion-card-title>
          </ion-card-header>
          <ion-img *ngIf="noticia.urlToImage" [src]="noticia.urlToImage">
          </ion-img>
          <ion-card-content>
             <p>{{noticia.description}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
