<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Categoriass
    </ion-title>
  </ion-toolbar>
  <ion-segment scrollable color="danger" (ionChange)="cambiodecategoria($event)" >
    <ion-segment-button value={{categoria}} *ngFor="let categoria of categorias">
      <ion-label>
        {{categoria}}
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <app-noticias [noticias]="noticias"></app-noticias>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
 </ion-content>
